﻿.container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50%;
    min-width: 300px;
}

.navbar-right {
    margin-right: 0;
}

.label {
    font-size: 100% !important;
}

#btnInsert {
    border-radius: 7px;
    font-size: large;
    float: right;
}

#btnGenerate {
    border-radius: 7px;
    margin-left:10px;
}

.spinner {
    width: 100px;
}

    .spinner input {
        text-align: right;
    }

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

    .input-group-btn-vertical > .btn {
        display: block;
        float: none;
        width: 8600%;
        max-width: 100%;
        padding: 8px;
        margin-left: -1px;
        position: relative;
        border-radius: 0;
    }

        .input-group-btn-vertical > .btn:first-child {
            border-top-right-radius: 4px;
            top: 0px;
            left: 0px;
        }

        .input-group-btn-vertical > .btn:last-child {
            margin-top: -2px;
            border-bottom-right-radius: 4px;
        }

    .input-group-btn-vertical i {
        position: absolute;
        top: 0;
        left: 4px;
    }

#inputsContainer {
    max-height: 60vh;
    overflow: overlay;
}

#inputNumberGenerator {
    display: flex;
}

@media (max-width: 780px) {
    #inputNumberGenerator {
        display: block;
    }
}
