﻿.container{
    width: 50%;
    min-width: 300px;
}

.navbar-right{
    margin-right:0;
}

.label{
    font-size:100% !important;
}

#btnSearch{
    border-radius: 7px;
    font-size: large;
    float: right;
}

#gridContainer{
    margin-left: 50%;
    transform: translate(-50%, 0);
}

#gridAddressBook tbody tr:last-child td table tbody tr td{
    padding : 5px;
}